footer{
    display: grid;
    grid-template-columns: 1fr;
    bottom: 0;
    background-color: #DEDFFF;
    height: 100px;
    width: 100%;
    margin-top: auto;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    margin-right: 60px;
}