/* definindo estilo do corpo para layout ficar no padrão  */
body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;  /*manter o cabeçalho, corpo e o rodapé na vertical */
}

html{
    height: 100%;
}