nav{
    background-color: #DEDFFF;
    display: flex;
    min-height: 100px;
    align-items: end;
}

nav .info{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 20px;
}

nav .links{
    margin: 0px;
    display: flex;
    width: 100%;
    list-style: none;
    gap: 25px;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
    margin-right: 20px;
}

.info .name{
    font-family: Inter;
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
}

.info .role{
    margin-left: 5px;
    font-family: Inter;
    font-size: 20px;
    line-height: 24.2px;
}

.links a{
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    color: #3C3CFF;
    cursor: pointer;
}

/* ao passar o mouse por cima dos links */
.links li:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.btn-mobile{
    display: none;
}

.container-mobile{
    display: flex;
    height: 100%;
    align-items: center;
}

@media screen and (max-width: 508px){

    .btn-mobile{
        outline: none;
        border: none;
        border-radius: 8px;
        padding: 10px;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        background-color: #3C3CFF;
        display: block;
    }

    nav .links{
        top: 100px;
        position: absolute;
        flex-direction: column;
        gap: 0px;
        margin: 0px;
        display: none;
        right: 0px;
    }

    nav .links.active{
        display: flex;
    }

    .links a{
        min-width: 200px;
    }
    
    .links li{
        text-align: center;
        padding: 10px;
        background-color: #DEDFFF;
        width: 30%;
        border-top: 1px solid black;        
    }

} 