section.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    width: 80%;
    margin: auto;
}
/* -----------------informações de contato----------------------------------- */

.container-contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-contact h1{
    color: #3C3CFF;
    text-decoration: underline;
    font-family: Inter;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.group span{
    font-size: 20px;
    font-family: Inter;
}

.group span:first-of-type{
    font-size: 20px;
    font-weight: 600;
    color: #3C3CFF;
    font-family: Inter;
}


/* -------------------- formulário------------------------------- */
textarea{
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    background-color: #D9D9D9;
}

input{
    border-radius: 4px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #D9D9D9;
    width: 100%;
    height: 40px;
}

.container-form form{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;
}

form .row{
    display: flex;
    gap: 20px;
}

form button{
    border-radius: 4px;
    outline: none;
    border: none;
    height: 50px;
    background-color: #3C3CFF;
    color: white;
}

@media screen and (max-width: 508px){
    section.content{
        margin: 20px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 100px;
        padding: 10px;
        width: 80%;
    }

    form .row{
        display: flex;
        flex-direction: column;
    }

    input, textarea{
        width: 95%;
        padding: 20px 10px;
    }
}