section.content{
    font-family: Inter;
    margin: 40px;
    padding-bottom: 40px;
}

h2{
    color: #3C3CFF;
}

.content ul{
    margin-bottom: 20px;
}

.content ul li{
    margin-left: 5%;
    width: 80%;
}

.title{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

/* todos os títulos menos o primeiro */
.title:not(:first-of-type){
    margin-top: 100px;
}

hr{
    width: 50%;
    margin-bottom: 50px;
}
