section.content{
    margin: 40px;
}

ul{
    font-family: Inter;
}

li{
    list-style: none;
}

li h2{
    color: #3C3CFF;
}

.first-level{
    display: flex;
    flex-direction: column;
}

.title{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

hr{
    width: 50%;
    margin-bottom: 30px;
}