section.content{
    margin: 40px;
}

h2{
    color: #3C3CFF;
}

.content ul{
    font-family: Inter;
}

.content ul li{
    margin-left: 5%;
    width: 80%;
}

.title{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

hr{
    width: 50%;
    margin-bottom: 30px;
}

@media screen and (max-width: 508px){
    section.content{
        margin: 0px;
    }

    .content ul li{
        margin-left: 0px;
        width: 80%;
    }
}