section.content{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.column-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-grid img{
    margin: 10px;
    margin-right: 50px;
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.column-grid .container-text{
    width: 500px;
}

.group h1{
    font-family: Inika;
    font-weight: 700;
    font-size: 25px;
    line-height: 41.7px;
    color: #3C3CFF;
    margin-bottom: 0px;
}

.group p{
    font-family: Inter;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.2px;
}

.container-image{
    display: flex;
    justify-content: end;
}

.container-classifications{
    display: flex;
    flex-direction: column;
    width: 56%;
    align-items: start;
}

.subtitle{
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    line-height: 41.7px;
    color: #3C3CFF;
}

.container-classifications hr{
    width: 200px;
    margin-left: 0px;
}

hr{
    width: 200px;
    margin-left: 0px;
}

.container-classifications ul{
    padding-left: 18px;
    font-size: 20px;
}

